* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.header > p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 0.75rem;
    background-color: cornflowerblue;
    border: 0;
    color: white;
    padding: 0.5rem 0.75rem;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
    background-color: black;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    border: black 1px solid;
    flex: 1;
    background-color: white;
}
