* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
    border: 1px black solid;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    border: black 1px solid;
    flex: 1;
}
